:root {
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --app-footer-height: 34px;
  --app-footer-real-height: 42px;
  --app-footer-gap: 17px;
  --modal-footer-gap: 8px;
  --modal-gap-above-footer: 1px;
}

@media (max-width: 640px) {
  :root {
    --app-footer-height: 34px;
    --app-footer-real-height: 42px;
    --modal-gap-above-footer: 5px;
  }
}
