<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /personelmedisa/api/

  RewriteRule ^config\.local\.php(?:/|$) - [F,L,NC]
  RewriteRule ^(src|migrations|seeds)/ - [F,L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ public/index.php [L,QSA]
</IfModule>
